*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
   
}
/* Customize the label (the container) */
.checkbox-main {
    display: block;
    position: absolute;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    right: 12px;
  }

  /* Hide the browser's default checkbox */
  .checkbox-main input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #d7d7d7;
    border-radius: 50%;
    background-color: #ffffff;
    width: 32px;
    height: 32px;
    background-position: center;
    background-image: url("tick.svg");
    background-repeat: no-repeat;

  }
  .checkbox-main input:checked ~ .checkmark {
    background-color: #4fd0b9;
    background-image: url("tickactive.svg");
  }
body{
    background-color: #f6f6f6;
}
.modal
{
    display: none;
    border: 1px solid black;
    width: 100%;
    position:fixed;
    z-index:2;
    bottom:10px;
    background-color: #e6e6e6;
}
textarea
{
    height: 300px;
    width: 100%;
}
.done
{
    height:40px;
    background-color: red;
    color: white;
    font-size: 20px;
}
.button
{
    position: relative;
}
.closebtn{
    height: 30px;
    width:20px;
    color:grey;
    border: 1px solid black;
    cursor:pointer;
   
}
.btn1{
    width:40px;
    height:40px;
    background-color: red;
    color: white;
    border-radius:50%;
    bottom:70px;
    position: fixed;
    z-index: 1;
    font-size: 20px;
    border:none;
    bottom: 10px;
    right: 12px;
    cursor:pointer;
}
main{
    margin: 20px;
   padding-top: 50px;
   margin: 0 auto;
   max-width: 1140px;
}
h1{
    font-size:24px;
    padding-top: 8px;
    font-family: 'PT Serif', serif;
    font-weight:bold;
    margin-bottom:8px;
}
p{
    font-size:20px;
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    max-width: 90%;
}
.box
{
    border: 1px solid #e6e6e6;
    width: 100%;
    padding: 30px 24px;
    margin-bottom: 24px;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
}
.check
{
    bottom: 10px;
    right: 12px;
    width: 40px;
    height:30px;
   position: absolute;
   
}
.grid2 p
{
    opacity: 0.7;
}


@media only screen and (min-width:1023px)
{
    .grid1
    {
        display:grid;
        grid-template-columns: repeat(4,1fr);
      
        grid-gap:10px;
    }
    .box{
        height: 265px;
    }
}